<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 1260x750 -->
    <meta property="og:image"              content="http://www.presidioroofing.info/assets/images/1.jpg" />
    <meta property="og:title"              content="Daily News" />
    <meta property="og:description"        content="Get your news without the drama!" />

<style>
body{
  background-color: #000;
  color: #fff;
}
h1{
  color: #fff;
}
a{
  color: #33F9FF;
}
</style>

</head>


<body>
    <h1>Headlines</h1>
    <form>
      <select name="publication">
        <option value="cnn">cnn</option>
        <option value="hn">Hacker News</option>
        <option value="ti">Tech Insider</option>
        <option value="biuk">Business Insider UK</option>
        <option value="bi">Business Insider </option>
        <option value="Fox">Fox News</option>
        <option value="bbc">BBC News</option>
        <option value="iol">IOL</option>
        <option value="med">medium.com</option>
        <option value="fn">Food Network</option>
        <option value="food">Food.com</option>
        <option value="dlish">allrecipes</option>
        <option value="rs">Rolling Stone</option>


      </select>
      <input type="text" name="publication" placeholder="search" />
      <input type="submit" value="Submit" />
    </form>
<br />
<hr />
    {% for article in articles %}
        <b><a href="{{article.link}}">{{article.title}}</a></b><br />
        <i>{{article.published}}</i>
        <b><a href="{{article.comments}}">comments</a></b>
        <p>{{article.description}}</p>
        <hr />
    {% endfor %}
</body>


<!-- <item>
  <title>Electronic meters’ false readings up to six times higher than actual consumption</title>
  <link>http://sciencebulletin.org/archives/10940.html</link>
  <pubDate>Sun, 5 Mar 2017 00:13:59 +0000</pubDate>
  <comments>https://news.ycombinator.com/item?id=13793771</comments>
  <description><![CDATA[<a href="https://news.ycombinator.com/item?id=13793771">Comments</a>]]></description>
</item> -->
